<div class="container">
  <div class="row ">
    <div class="col-md-12">
      <div class="card centered">
        <div class="card-body">
          <h5 class="card-title">Welcome To My Assignment</h5>
          <p class="card-text">Click on the Button To Complete the action</p>
          <a routerLink="/test/register" class="btn btn-primary">Add New User</a>&nbsp;&nbsp;&nbsp;
          <a routerLink="/test/list" class="btn btn-success">See All User</a>
  
        </div>
      </div>
    </div>
</div>